---
# SPDX-FileCopyrightText: {{ copyright_date }}-present {{ maintainer_fullname }} <{{ maintainer_email }}>
#
# SPDX-License-Identifier: MIT
#
# Configuration for yamllint CLI tool
#
# See: https://yamllint.readthedocs.io

# Begin with yamllint default settings
extends: default
